.App {
  min-height: 100vh;
  background-color: #282c34;

}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.orange{
  color: orange;
}
.purple{
  color: purple;
}
.contain .fa-star{
  font-size:1.3rem;
  cursor: pointer;
}